/* header */
/* ========================= */

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 0 40px;

}
.headerlogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
   width: 90px;
   height: auto;
}
.logoText{
    font-size: 20px;
    font-weight: 600;
}
.flag-logo{
    width: auto;
    height: 25px;
}
.bell-logo{
    width: auto;
    height: 45px;
}
.left-logo-user{
    height: 40px;
}
.header-contenet{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 40px;
}
.divider{
    width: 1px;
    height: 30px;
    background-color: #9f9898;
    margin: 0 10px;
}
.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}


/* card */

.cardComponent{
    width: 180px;
    height: 160px;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.cardComponent:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid transparent;
}
.cardComponent > h1{
    font-size: 20px;
    font-weight: 600;
    color: #303030;
}
.cardComponent > p{
    font-size: 14px;
    color: #6d6c6c;
    font-weight: 400;
}

.card-img{
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 10px;
}


/* menuCard */

.menuCard{
    width: 100%;
    border-radius: 10px;
    padding: 20px 40px;
}
.menuCardHeader{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.menu-cardItem{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;

}
.menu-input-title{
    background-color: #e7e7e7;
    padding: 10px;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 5;
    overflow: hidden;
    border-radius: 10px;
    min-width: 120px;
}
.menu-input-title > h5{
    font-size: 14px;
    color: #434343;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.menu-input-title > p{
    font-size: 12px;
    color: #6d6c6c;
    font-weight: 400;
    padding: 10 0;
    margin: 10 0;
}
.divider2{
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin: 10px 0;
}
.cardButton{
    width: 130px;
    height: 58px;
    background-color: #491fc4;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 180px;
}
.cardButton > p{
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}